<!DOCTYPE html>
<html lang='eg'>
<head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% if title %}
            <title>My Books - {{ title }}</title>
        {% else %}
            <title>My Books </title>
        {% endif %}
</head>
<body>
    <h1> Welcome to Books &#x1f4da; </h1>
    <ul>
        {% for book in books %}
            <li class="book-item"> 
                <span class="book-title"> {{ book.title }} </span>
                <span class="book-author"> {{ book.author }} </span>
            </li>
        {% endfor %}
    </ul>

</body>
</html>